.home{
    height: 700px;
}
.home1{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(120px, auto);
}
.box{
    background-color: rgba(173, 216, 230, 0.52);
    padding: 20px;
    border-radius: 10px;
    border: 1px solid grey;
}
.box-1{
    grid-column: span 1;
    grid-row: span 4;
}
.box-7{
    grid-column: span 1;
    grid-row: span 2;
}
.box-8{
    grid-column: span 2;
    grid-row: span 2;
}
.box-9{
    grid-column: span 1;
    grid-row: span 1;
}
.box-6{
    grid-row: span 2;
    grid-column: span 1;
}
.box-3{
    grid-row: span 1;
    grid-column: span 1;
}
.box-4{
    grid-row: span 1;
    grid-column: span 1;
}